<nav>
    <button routerLink="/posts">Lista postów</button>
    <button routerLink="/addPost">Dodaj nowy post</button>
    <button routerLink="/about">Kontakt</button>
    <button routerLink="/exercises">Lista ćwiczeń</button>
    <button routerLink="/addExercise">Dodaj ćwiczenie</button>
    <button routerLink="/login">Wyloguj się</button>
</nav>

<h1>Dodaj ćwiczenie!</h1>
<form [formGroup]="form4create" (ngSubmit)="onSubmit()">
    Nazwa ćwiczenia: <input type="text" formControlName="name" required><br>
    Powtórzenia: <input type="text" formControlName="repeats" required><br>
    Tempo: <input type="text" formControlName="rate" required><br>
    RiR: <input type="text" formControlName="RiR" required><br>
    Przerwa: <input type="text" formControlName="interruption" required><br>
    
    <div *ngIf="name?.errors?.['required'] && name?.touched">Nazwa ćwiczenia jest wymagana!</div>
    <div *ngIf="name?.errors?.['pattern']">Nazwa ćwiczenia musi zaczynać się od wielkiej litery!</div>
    <div *ngIf="name?.errors?.['minlength']">
        Nazwa ćwiczenia jest za krótka. Minimalna długość nazwy:
        {{name?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="name?.errors?.['maxlength']">
        Nazwa ćwiczenia jest za długa. Maksymalna długość nazwy:
        {{name?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="repeats?.errors?.['required'] && repeats?.touched">Liczba powtórzeń jest wymagana!</div>
    <div *ngIf="repeats?.errors?.['min']">
        Liczba powtórzeń musi być liczbą dodatnią!
    </div>
    <div *ngIf="repeats?.errors?.['maxlength']">
        Liczba powtórzeń jest za długa. Maksymalna długość liczby powtórzeń:
        {{repeats?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="rate?.errors?.['required'] && rate?.touched">Tempo jest wymagane!</div>
    <div *ngIf="rate?.errors?.['minlength']">
        Tempo jest za krótkie. Minimalna długość tempa:
        {{rate?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="rate?.errors?.['maxlength']">
        Tempo jest za długie. Maksymalna długość tempa:
        {{rate?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="RiR?.errors?.['required'] && RiR?.touched">RiR jest wymagane!</div>
    <div *ngIf="RiR?.errors?.['minlength']">
        RiR jest za krótkie. Minimalna długość RiR:
        {{RiR?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="RiR?.errors?.['maxlength']">
        RiR jest za długie. Maksymalna długość RiR:
        {{RiR?.errors?.['maxlength']['requiredLength']}}
    </div>
    <div *ngIf="RiR?.errors?.['min']">
        RiR musi być liczbą dodatnią!
    </div>
    <div *ngIf="RiR?.errors?.['max']">
        RiR może wynosić maksymalnie 5!
    </div>

    <div *ngIf="interruption?.errors?.['required'] && interruption?.touched">Przerwa jest wymagana!</div>
    <div *ngIf="interruption?.errors?.['minlength']">
        Przerwa jest za krótkia. Minimalna długość przerwy:
        {{interruption?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="interruption?.errors?.['maxlength']">
        Przerwa jest za długia. Maksymalna długość przerwy:
        {{interruption?.errors?.['maxlength']['requiredLength']}}
    </div>
    
    <input [disabled]="!form4create.valid" type="submit" value="Dodaj ćwiczenie">
</form>