<div class="card" >
  <div class="card-body">
    <h3 class="card-title">{{ exercise.name }}</h3>
    <div class="card-text">
      <div class="mb-2">Powtórzenia: {{ exercise.repeats }}</div>
      <div class="mb-2">Tempo: {{ exercise.rate }}</div>
      <div class="mb-2">RiR: {{ exercise.RiR }}</div>
      <div class="mb-2">Przerwa(minuty): {{ exercise.rest }}</div>
    </div>
    <div *ngIf="isAdministrator">
      <button [routerLink]="['/exercises', exercise.id, 'edit']">Edytuj ćwiczenie</button>
      <button (click)="deleteExercise()">Usuń ćwiczenie</button>
    </div>
  </div>
</div>
