<body class="container mt-5">
  <h1 class="text-center">Nasze media społecznościowe</h1>
  <ul class="list-group mt-3">
    <li class="list-group-item"><a href="https://github.com/michalgoscicki" class="text-decoration-none">Michał Gościcki</a></li>
    <li class="list-group-item"><a href="https://github.com/borkry" class="text-decoration-none">Krystian Borys</a></li>
    <li class="list-group-item"><a href="https://github.com/NewbieDuck" class="text-decoration-none">Szymon Łupiński</a></li>
</ul>
