<nav>
    <button routerLink="/posts">Lista postów</button>
    <button routerLink="/addPost">Dodaj nowy post</button>
    <button routerLink="/about">Kontakt</button>
    <button routerLink="/exercises">Lista ćwiczeń</button>
    <button routerLink="/addExercise">Dodaj ćwiczenie</button>
    <button routerLink="/login">Wyloguj się</button>
</nav>


<h1>Nasz media społecznościowe</h1>
    <ul>
        <li><a href="#" (click)="handleClick($event)">Twitter</a></li>
        <li><a href="#" (click)="handleClick($event)">Facebook</a></li>
        <li><a href="#" (click)="handleClick($event)">Instagram</a></li>
    </ul>
