
<form [formGroup]="form4login" (ngSubmit)="onSubmit()" class="mx-auto" style="width: 30%">
  <div class="form-group">
    <h1>Zaloguj się!</h1>
    <label for="exampleInputEmail1">Adres Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" required>
    <div *ngIf="email?.errors?.['required'] && email?.touched">Email jest wymagany!</div>
    <div *ngIf="email?.errors?.['pattern']">Email musi mieć odpowiedni format!</div>
    <div *ngIf="email?.errors?.['minlength']">
      Email jest za krótki! Minimalna długość to:
      {{ email?.errors?.['minlength']['requiredLength'] }}
    </div>
    <div *ngIf="email?.errors?.['maxlength']">
      Email jest za długi! Maksymalna długość to:
      {{ email?.errors?.['maxlength']['requiredLength'] }}
    </div>
    <div *ngIf="email?.errors?.['hasWhitespace']" class="text-danger">
      Email nie może zawierać znaku białego!
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Hasło</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required>
    <div *ngIf="password?.errors?.['required'] && password?.touched">Hasło jest wymagane!</div>
    <div *ngIf="password?.errors?.['minlength']">
      Hasło jest za krótkie! Minimalna długość to: 
      {{ password?.errors?.['minlength']['requiredLength'] }}
    </div>
    <div *ngIf="password?.errors?.['maxlength']">
      Hasło jest za długie! Maksymalna długość to:
      {{ password?.errors?.['maxlength']['requiredLength'] }}
    </div>
    <div *ngIf="password?.errors?.['hasWhitespace']" class="text-danger">
      Hasło nie może zawierać znaku białego!
    </div>
  </div>
  <button [disabled]="!form4login.valid" type="submit" class="btn btn-primary" style="margin-top: 10px">Zaloguj się</button>
  <br>
  <a routerLink="/register">Nie masz konta? Zarejestruj się klikając tutaj!</a>
</form>
