<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GYM-BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/posts">Lista postów</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/addPost">Dodaj nowy post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/about">Kontakt</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/exercises">Lista ćwiczeń</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/addExercise">Dodaj ćwiczenie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/login">Wyloguj się</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<h1>Zaloguj się!</h1>
<form [formGroup]="form4login" (ngSubmit)="onSubmit()">
    Email: <input type="email" formControlName="email" required><br>
    Hasło: <input type="password" formControlName="password" required><br>

    <div *ngIf="email?.errors?.['required'] && email?.touched">Email jest wymagany!</div>
    <div *ngIf="email?.errors?.['pattern']">Email musi spełniać odpowiedni format!</div>
    <div *ngIf="email?.errors?.['minlength']">
        Email jest za krótki. Minimalna długość Emaila:
        {{email?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="email?.errors?.['maxlength']">
        Email jest za długi. Maksymalna długość Emaila:
        {{email?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="password?.errors?.['required'] && password?.touched">Hasło jest wymagane!</div>
    <div *ngIf="password?.errors?.['minlength']">
        Hasło jest za krótkie. Minimalna długość hasła:
        {{password?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="password?.errors?.['maxlength']">
        Hasło jest za długie. Maksymalna długość hasła:
        {{password?.errors?.['maxlength']['requiredLength']}}
    </div>

    <input [disabled]="!form4login.valid" type="submit" value="Zaloguj się">
    <br><a routerLink="/register">Nie masz konta? Kliknij, aby się zarejestrować.</a>
</form>
