<div class="container mt-4">

  <div class="card" style="margin-bottom: 50px">
    <div class="card-header">
      <h2 class="text-center">Witaj na Stronie!</h2>
    </div>
    <div class="card-body">
      <p>Gym-Blog to dynamiczny blog stworzony dla entuzjastów zdrowego stylu życia, pasjonatów siłowni oraz osób dążących do poprawy swojej kondycji fizycznej. Nasza strona oferuje obszerną gamę treści dotyczących treningów, zdrowej diety, motywacji i inspiracji do osiągnięcia najlepszej wersji siebie.</p>
      <p>Gym-Blog Hub dąży do stałego dostarczania wartościowych informacji i inspiracji dla wszystkich, którzy pragną zdrowszego, bardziej aktywnego i zbalansowanego życia. Chcemy być Twoim źródłem wiedzy i motywacji na drodze do lepszej kondycji fizycznej i psychicznej.</p>
      <p>Dołącz do naszej społeczności, odkrywaj nowe treści i razem pracujmy nad osiągnięciem naszych celów fitnessowych!</p>
    </div>
  </div>

  <div class="card mb-4 mx-auto" style="width: 50%">
    <div class="card-header text-center">
      <h2>Kalkulator BMI</h2>
    </div>
    <form [formGroup]="form4bmi" (ngSubmit)="onSubmit()">
      Waga (kg):<br> <input type="text" formControlName="weight" required><br>
      Wzrost (cm):<br> <input type="text" formControlName="height" required><br><br>

      <div *ngIf="weight?.errors?.['required'] && weight?.touched">Waga jest wymagana!</div>
      <div *ngIf="weight?.errors?.['min']">
        Wzrost musi być liczbą dodatnią!
      </div>
      <div *ngIf="weight?.errors?.['max']">
        Waga nie może przekraczać 500kg!
      </div>
      <div *ngIf="weight?.errors?.['pattern']">Waga musi być liczbą!</div>

      <div *ngIf="height?.errors?.['required'] && height?.touched">Wzrost jest wymagany!</div>
      <div *ngIf="height?.errors?.['min']">
        Wzrost musi być liczbą dodatnią!
      </div>
      <div *ngIf="height?.errors?.['max']">
        Wzrost może wynosić maksymalnie 250cm!
      </div>
      <div *ngIf="height?.errors?.['pattern']">Wzrost musi być liczbą!</div>
      <input [disabled]="!form4bmi.valid" type="submit" value="Oblicz BMI">
    </form>

      <div class="result mt-3" *ngIf="bmi >= 0">
        <p><strong>Twoje BMI wynosi:</strong> {{ bmi.toFixed(2) }}</p>
        <p><strong>Kategoria BMI:</strong> {{ bmiCategory }}</p>
      </div>
  </div>
</div>
