<h1>Załóż konto!</h1>
<form [formGroup]="form4create" (ngSubmit)="onSubmit()">
    Imię: <input type="text" formControlName="name" required><br>
    Nazwisko: <input type="surname" formControlName="surname" required><br>
    Email: <input type="email" formControlName="email" required><br>
    Hasło: <input type="password" formControlName="password" required><br>

    <div *ngIf="name?.errors?.['required'] && name?.touched">Imię jest wymagane!</div>
    <div *ngIf="name?.errors?.['pattern']">Imię musi zaczynać się od wielkiej litery!</div>
    <div *ngIf="name?.errors?.['minlength']">
        Imię jest za krótkie. Minimalna długość imienia:
        {{name?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="name?.errors?.['maxlength']">
        Imię jest za długie. Maksymalna długość imienia:
        {{name?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="surname?.errors?.['required'] && surname?.touched">Nazwisko jest wymagane!</div>
    <div *ngIf="surname?.errors?.['pattern']">Nazwisko musi zaczynać się od wielkiej litery!</div>
    <div *ngIf="surname?.errors?.['minlength']">
        Nazwisko jest za krótkie. Minimalna długość nazwiska:
        {{surname?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="surname?.errors?.['maxlength']">
        Nazwisko jest za długie. Maksymalna długość nazwiska:
        {{surname?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="email?.errors?.['required'] && email?.touched">Email jest wymagany!</div>
    <div *ngIf="email?.errors?.['pattern']">Email musi spełniać odpowiedni format!</div>
    <div *ngIf="email?.errors?.['minlength']">
        Email jest za krótki. Minimalna długość Emaila:
        {{email?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="email?.errors?.['maxlength']">
        Email jest za długi. Maksymalna długość Emaila:
        {{email?.errors?.['maxlength']['requiredLength']}}
    </div>

    <div *ngIf="password?.errors?.['required'] && password?.touched">Hasło jest wymagane!</div>
    <div *ngIf="password?.errors?.['minlength']">
        Hasło jest za krótkie. Minimalna długość hasła:
        {{password?.errors?.['minlength']['requiredLength']}}
    </div>
    <div *ngIf="password?.errors?.['maxlength']">
        Hasło jest za długie. Maksymalna długość hasła:
        {{password?.errors?.['maxlength']['requiredLength']}}
    </div>

    <input [disabled]="!form4create.valid" type="submit" value="Zarejestruj się">
</form>